.travelers {
    margin-top: 150px;
    text-align: center;

    &__inner {
        position: relative;
        padding-bottom: 100px;
    }

    &__list {
        display: flex;
        overflow: hidden;
    }

    &__decor {
        position: absolute;
        border-radius: 50%;

        &:nth-of-type(1) {
            top: 192px;
            right: 209px;
            width: 74px;
            height: 74px;
        }

        &:nth-of-type(2) {
            top: 82px;
            right: 0;
            width: 90px;
            height: 90px;
        }

        &:nth-of-type(3) {
            bottom: 74px;
            right: 63px;
            width: 90px;
            height: 90px;
        }

        &:nth-of-type(4) {
            bottom: 0;
            left: 241px;
            width: 116px;
            height: 116px;
        }

        &:nth-of-type(5) {
            bottom: 190px;
            left: 0;
            width: 66px;
            height: 66px;
        }

        &:nth-of-type(6) {
            top: 121px;
            left: 142px;
            width: 108px;
            height: 108px;
        }
    }
}

.travelers-item {
    flex-basis: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__img-wap {
        width: 142px;
        height: 142px;
        border-radius: 50%;
        margin: 127px 0 38px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__text {
        width: 736px;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 127%;
        color: #191b1d;
    }

    &__name {
        margin-top: 18px;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 167%;
        color: #191b1d;
    }
    &__sub-name {
        font-size: 1.4rem;
        line-height: 171%;
        color: #4e5358;
    }
}

.travelers-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;

    gap: 12px;

    div {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #4e5358;

        &:hover {
            opacity: 0.9;
        }
    }

    div & &__action {
        height: 24px;
        background: #ff5b26;
        border-radius: 6px;
    }
}
